/*
testing for darkish.css
*/

/*
Sandbox only
*/
summary {
    margin-top:0;
    margin-bottom:5%;
}
input, button {
    color:rgb(117, 0, 0);
    background: round;
    border: darkslategray;
    border-style: solid;
    border-width: thin;
}
button:hover {
    color: red;
    background-color: rgb(30,30,30);
}