body {
    color:brown;
}
input, button {
    color:darkred;
    background: round;
    border: darkslategray;
    border-style: solid;
    border-width: thin;
}
button:hover {
    color: red;
    background-color: gray;
}