body {
    background-color: black;
    color:white;
    font-size: 2em;
    font-family:monospace;
}
.navMenu {
    a {
        padding-left:1em;
        padding-right:1em;
    }
    a:link, a:visited {
        background-color: darkred;
        color:white;
        display:inline-block;
        text-decoration:none;
    }
    a:hover {
        background-color: red;
    }
    #currentPage {
        background-color: black;
        color: darkred;
        border-color: white;
    }
    background-color: darkred;
    padding-left:0.25em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    margin:1.5em;
}