header {
    #siteName {
        color:red;
        font-family:monospace;
        display:inline;
        padding-left:0.4em;
        padding-right:0.4em;
        border-style:dashed dotted hidden dotted;
        border-color:rgb(147,0,0);
        margin-bottom:0.25em;
    }
    /* horizontal menu bar styling */
    nav.horiMenu {
        background-color: rgb(117, 0, 0);
        border-style: outset;
        border-width:0.4em;
        border-color: rgb(147,0,0);
        padding-bottom:0.5em;
        margin-top:0;
        ul {
            list-style-type: none;
            display:inline;
            overflow:hidden;
            li {
                float:left;
                margin-top:0.25em;
                margin-left:0.125em;
            }
            li.right {
                float:right;
                margin-right:0.125em;
            }
            a {
                padding-left:0.5em;
                padding-right:0.5em;
            }
            a:link, a:visited {
                color:white;
                text-decoration:none;
                border-style:outset;
                border-color:rgb(157,0,0);
            }
            a:hover {
                color:red;
                background-color: black;
                border-style:inset;
                transition: .25s;
            }
            a.active {
                background-color: black;
                color: white;
                border-style:inset;
            }
        }
    }
}
body {
    background-color: black;
    color:white;
    font-size: 2em;
    font-family:monospace;
    margin-left:20%;
    margin-right:20%;
    h1 {
        color:red;
        text-align: left;
        margin:1%;
    }
    h2 {
        color:brown;
    }
}
div.photoEntry {
    text-align:center;
    color:#ffb700;
    background-color:#140702;
    padding-top:0.5em;
    padding-bottom:1em;
    border-style: inset inset outset outset;
    border-width:1.5em;
    border-color:#792a10;
    margin-top:1em;
    margin-left:5%;
    margin-right:5%;
    section {
        display:inline;
        font-family: 'Courier New', Courier;
        font-weight: bold;
    }
    figure {
        img {
            width: 60%;
            height:60%;
            background-color:white;
            padding:0.5em;
            padding-bottom:2em;
        }
    }
    figcaption {
        font-family:'Times New Roman', Times, serif;
        font-weight:100;
        padding-left:5%;
        padding-right:5%;
        text-align:justify;
        font-size:60%;
    }
}